<div class="container-header">
  <h2>What people say about my work</h2>
</div>

<div class="container-carousel-cards">
  <div class="swiper swiper-cards" data-controller="carousel-cards">
    <div class="swiper-wrapper">
      <div class="light-card testimonial-card swiper-slide">
        <div class="content">
          <h3>A lot of strong skills ✨</h3>
          <p>"Having worked with Ines for a few years, I can say that she has a lot of strong skills:</p>
          <ul>
            <li>Very good at design; has a critical eye for colour schemes, UI, UX; is very efficient with Figma</li>
            <li>Great at front-end implementation</li>
            <li>Very good in back-end logic and implementation</li>
          </ul>
          <p>I would gladly recommend Ines 👌🏻"</p>
        </div>

        <div class="footer">
          <div class="avatar">
            <span class="initials">SL</span>
          </div>
          <div>
            <p class="text-dark-gray">Stéphane Lafontaine</p>
            <p>Web Developer</p>
          </div>
        </div>
      </div>

      <div class="light-card testimonial-card swiper-slide">
        <div class="content">
          <h3>There's nothing she can't do ✨</h3>
          <p>
            "Ines is a real pleasure to work with. Always relevant and motivated, she allowed us to double our velocity.
            A strong UI/UX designer, she helped us greatly improve the visual aspect of the platform. And yet, it was on
            the back-end that she shipped the most. Put simply, there's nothing she can't do."</p>
        </div>

        <div class="footer">
          <%= image_tag "logos/wally.jpg", alt: "logo wally", class: "avatar" %>
          <div>
            <p class="text-dark-gray">Gabriel Ibanez</p>
            <p>CTO at Wally</p>
          </div>
        </div>
      </div>

      <div class="light-card testimonial-card swiper-slide">
        <div class="content">
          <h3>A very demanding designer ✨</h3>
          <p>
            "A very demanding designer. I learned so much from Ines about the UI/UX side of a problem. She has a vision
            for sites that puts transparency and usability first and does not sacrifice aesthetics. She was very easy to
            work with, and I'm happy to say she pushed my team to find the best solution to various design issues."
          </p>
        </div>

        <div class="footer">
          <div class="avatar">
            <span class="initials">LW</span>
          </div>
          <div>
            <p class="text-dark-gray">Web Dev Student</p>
            <p>Le Wagon bootcamp</p>
          </div>
        </div>
      </div>

      <div class="light-card testimonial-card swiper-slide">
        <div class="content">
          <h3>My favourite lectures ✨</h3>
          <p>
            "Ines gave my favourite lectures and livecodes of the bootcamp - they were interactive and she encouraged people
            to speak in a way that felt supportive and equitable. Her ticketing style was encouraging and thorough and
            supported us in coming to our own conclusions. She seems like a real expert in the topic,
            but nothing ever felt like a stupid question."
          </p>
        </div>

        <div class="footer">
          <div class="avatar">
            <span class="initials">LW</span>
          </div>
          <div>
            <p class="text-dark-gray">Web Dev Student</p>
            <p>Le Wagon bootcamp</p>
          </div>
        </div>
      </div>
    </div>

    <div class="navigation-buttons">
      <i class="fa-solid fa-chevron-left fa-xl button-prev"></i>
      <i class="fa-solid fa-chevron-right  fa-xl button-next"></i>
    </div>
  </div>
</div>
