// Spacing
$space-xxxs: 0.25rem; // 4px
$space-xxs: 0.375rem; // 6px
$space-xs: 0.5rem;    // 8px
$space-s: 0.75rem;    // 12px
$space-m: 1rem;       // 16px
$space-l: 1.5rem;     // 24px
$space-xl: 2rem;      // 32px
$space-xxl: 2.5rem;   // 40px
$space-xxxl: 3rem;    // 48px
$space-xxxxl: 4rem;   // 64px
$space-huge: 6rem;

// Border
$border: 1.5px solid $dark-green;

// Shadow
$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
$shadow-light: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);

// Border-radius
$border-radius:    12px;
$border-radius-lg: 12px;
$border-radius-sm: 8px;
