.container-experiences {
  @include flex-jcenter-astart;
  gap: $space-huge;
  margin-top: $space-xxl;

  @include media (MobileScreens) {
    @include flex-col;
    gap: $space-xxl;
  }
}

.item-experience {
  @include flex-jbetween-acenter;
  margin-bottom: $space-m;
}
