.container-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-xxxl;
  height: 100%;

  h2 {
    margin-bottom: $space-xxl;
  }

  @include media(MobileScreens) {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: $space-l;
  }
}

#profile-picture {
  width: 350px;

  @include media(MobileScreens) {
    width: 250px;
    margin: auto;
  }
}
