<div class="container-header">
  <h1>About me</h1>
  <p><%= @bio.html_safe %></p>
</div>

<div class="container-experiences">
  <%= render "users/experience/work" %>
  <%= render "users/experience/education" %>
</div>
