<div class="text-center">
  <h1 class="main-title">About me</h1>
  <div class="text-spacing"><%= @bio.html_safe %></div>
</div>

<div class="container-experiences">
  <%= render "users/experience/work" %>
  <%= render "users/experience/education" %>
</div>
