<div class="mobile-full-width">
  <h3>🎓 Education</h3>
  <div class="text-box">
    <div class="item-experience">
      <p class="text-bold">Full-Stack Web Development</p>
      <p class="text-light text-small">2022</p>
    </div>
    <p class="text-small">Le Wagon | Montreal, Canada</p>
  </div>

  <div class="text-box">
    <div class="item-experience">
      <p class="text-bold">M.A. in Political Science</p>
      <p class="text-light text-small">2016-2018</p>
    </div>
    <p class="text-small">McGill Univeristy | Montreal, Canada</p>
  </div>

  <div class="text-box">
    <div class="item-experience">
      <p class="text-bold">Bachelor in European Studies</p>
      <p class="text-light text-small">2013-2016</p>
    </div>
    <p class="text-small">ESPOL | Lille, France</p>
  </div>
</div>
