<div class="mobile-full-width">
  <h3>💼  Work Experience</h3>
  <div class="text-box">
    <div class="item-experience">
      <p class="text-bold">Freelance Web Developper</p>
      <p class="text-light text-small text-small">2023-today</p>
    </div>
    <p class="text-small">Self-Employed | France &amp; Spain</p>
  </div>

  <div class="text-box">
    <div class="item-experience">
      <p class="text-bold">Freelance Teacher</p>
      <p class="text-light text-small">2022-today</p>
    </div>
    <p class="text-small">Le Wagon | Montreal, Canada</p>
  </div>

  <div class="text-box">
    <div class="item-experience">
      <p class="text-bold">Marketing Lead</p>
      <p class="text-light text-small">2021-2023</p>
    </div>
    <p class="text-small">Le Wagon | Montreal, Canada</p>
  </div>

  <div class="text-box">
    <div class="item-experience">
      <p class="text-bold">Content Marketing Manager</p>
      <p class="text-light text-small">2019-2021</p>
    </div>
    <p class="text-small">Keela | Vancouver, Canada</p>
  </div>

  <div class="text-box">
    <div class="item-experience">
      <p class="text-bold">Communications Coordinator</p>
      <p class="text-light text-small">2018-2019</p>
    </div>
    <p class="text-small">La Pieza | Mexico</p>
  </div>
</div>
