<div class="flex justify-center items-center py-5">
<ul class="navbar">
  <li><p>ABOUT ME</p></li>
  <li> <%= render 'shared/svg/dot' %></li>
  <li><p>MY SERVICES</p></li>
  <li><%= render 'shared/svg/dot' %></li>
  <li><p>WEB DEVELOPMENT</p></li>
  <li><%= render 'shared/svg/dot' %></li>
  <li><p>MARKETING</p></li>
  <li><%= render 'shared/svg/dot' %></li>
  <li><p>GET IN TOUCH</p></li>
</ul>
</div>
