<ul class="desktop-menu">
  <li>
    <%= link_to root_path do %>
      <%= image_tag 'logo_light.png', alt: "logo ines alvergne", width: 50 %>
    <% end %>
  </li>

  <%= render "shared/navigation/nav_items" %>
</ul>
