<div  class="mobile-menu d-none"
      data-mobile-navbar-target="mobileMenu">
  <ul class="menu">
    <li>
      <i  class="fa-solid fa-xmark fa-2x"
          data-action="click->mobile-navbar#hide"></i>
    </li>

  <%= render "shared/navigation/nav_items" %>
  </ul>
</div>
