.light-card {
  border: 1px solid $light-green;
  padding: $space-l;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-light;
}

// SERVICE CARD
.service-card {
  width: 400px;
  height: 250px;

  p {
    color: $dark-gray;
    line-height: 24px;
  }

  .container-illustration {
    height: 30%;
    display: flex;
    align-items: center;

    img { width: 60px; }
  }

  &:hover {
    box-shadow: $shadow;

    img.gentle-tilt-move-shake {
      animation-name: tilt-n-move-shaking;
      animation-duration: 0.4s;
      animation-iteration-count: 2;
    }
  }

  @include media(TabletScreens) {
    width: 350px;
    height: 300px;
  }

  @include media(MobileScreens) {
    width: 300px;
  }
}

// TESTIMONIAL CARD
.testimonial-card {
  @include flex-col-jb;
  width: 400px;
  height: 400px;

  ul {
    list-style: circle;
  }

  li {
    margin-left: $space-l;
  }

  .footer {
    @include flex-as;
    gap: $space-m;
    margin-top: $space-l;
  }

  @include media(MobileScreens) {
    width: 200px;
    height: 550px;
  }
}
