.container-main {
  height: calc(100vh - 40px);
  padding: 0 $space-m;

  @include media(LargeScreensAndUp) {
    padding: $space-xxl 200px;
  }

  @include media(MobileScreens) {
    padding: $space-l;
  }
}

.container-subtitle {
  text-align: center;
  margin: $space-xxl;
}
