.grid-cards {
  display: grid;
  row-gap: $space-l;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  @include media(TabletScreens) {
    grid-template-columns: 1fr 1fr;
  }

  @include media(MobileScreens) {
    grid-template-columns: 1fr;
  }
}
