.navbar-top {
  background-color: $dark-green;

  .burger {
    display: none;
  }

  &.light {
    background-color: transparent;
    color: $dark-green;

    .nav-item {
      color: $dark-green;

      &:hover {
        border-top: 3px solid $dark-green;
        color: lighten($color: $dark-green, $amount: 0.5)

      }
    }
  }

  @include media(TabletScreens) {
    .desktop-menu {
      display: none;
    }

    .burger {
      display: flex;
    }
  }
}

.desktop-menu {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-l;
  padding: $space-xxl;
  border-bottom: 1px solid $dark-green;

  img {
    width: 35px;
    margin-right: $space-l;
  }

  .nav-item {
    color: white;
    font-family: $headers-font;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: $space-s;
    margin-right: $space-xl;
    transition: border-bottom 0.15s ease-in;
    transition: letter-spacing 0.15s ease-in;

    &:hover, &.active {
      letter-spacing: 1.1px;
      font-weight: 500;
      border-top: 2px solid $light-green;
      color: $light-green;
    }
  }
}
