.navbar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $space-l;
  padding: $space-xxl;
  border-bottom: 1px solid $dark-green;

  li {
    color: $dark-green;
    font-family: $headers-font;
    letter-spacing: 1.5px;
    transition: border-bottom 0.15s ease-in;
    padding-bottom: 2px;

    &:hover {
      font-weight: 500;
      border-bottom: 3px solid $dark-green;
    }
  }
}
