.navbar-top {

  .desktop-menu {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space-l;
    padding: $space-xxl;
    border-bottom: 1px solid $dark-green;

      img {
        width: 35px;
        margin-right: $space-l;
      }
  }

  .burger {
    display: none;
  }

  @include media(TabletScreens) {
    .desktop-menu {
      display: none;
    }

    .burger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $space-l;
      border-bottom: 1px solid $dark-green;
      box-shadow: $shadow-light;

      #logo {
        height: 35px;
      }

      i {
        color: $dark-green;
      }
    }
  }

  a {
    color: $dark-green;
    font-family: $headers-font;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 2px;
    transition: border-bottom 0.15s ease-in;
    transition: letter-spacing 0.15s ease-in;

    &:hover {
      letter-spacing: 1.2px;
      font-weight: 500;
      border-bottom: 3px solid $dark-green;
    }

    @include media(MobileScreens) {
      font-size: 22px;

      &:hover {
        border-bottom: none;
      }
    }
  }
}

.mobile-menu {
  position: absolute;
  top: -10px;
  right: end;
  height: fit-content;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: right;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;

  .menu-items {
    padding: 40px $space-l;
  }

  li {
    padding-bottom: $space-xl;
    color: $dark-green;
  }
}
